.course-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 14rem);
  }
.card-text{
    width: 100%;
    height: 10vw;
    object-fit: cover;
}



.selected {
  background-color:lemonchiffon;
  color: green;
}

.unselectable {
  background-color:rgb(137, 133, 133);
  color: rgb(181, 177, 177);
}

